.content-header{
    display: flex;
    justify-content: space-between;
}

.content-header>div, h1{
    margin: auto 0;
    padding: 0 1rem;
}

h1{
    font-size: 2em;
}

section{
    margin-bottom: 1.5em;
}

button{
    border: 0em solid black;
    border-radius: 1em;
    padding: 0.2em 1em;
}